*.iml
.idea/*
out/*
.svn
*.log
*.epoch
*.ldb
orbtrc*.txt
target
target
node_modules/*
*prefs
*classpath
*project
*.component
*facet.core.xml
*.class
*.DAT
booking-forms.zip
jasmine_karma.xml
database/vm/.vagrant/
database/vm/no_proxy/.vagrant/
eservices/booking/eservices-booking-core/src/main/designer/booking/booking.zip
.DS_Store
